.input-wrap {
  width: 100%;
  height: 100%;
}

.input-wrap input,
select {
  height: 100%;
  width: 100%;
  background: #f2f3f4;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 6px;
  padding-left: 9px;
}

.input-wrap label {
  font-weight: 600;
  font-size: 13px;
  color: rgba(51, 34, 10, 0.9);
}
